
.heder{
    background-image: url('./1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
    height: 30vh;
}

.History{
  position: fixed;
  right: .5%;
  top: 1%;
}
.History > button{
width: 150px;
height: 40px;
font-size: 20px;
text-align: center;
}
/* .buttonHistory{

} */

.clear-all {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.clear-all:hover {
  cursor: pointer;
}

 .div-historyList{
  cursor: pointer;
} 


.HistoryContainer-none{
  display: none;
}
.HistoryContainer-display{ 
  cursor: pointer;
  display: inline-block;
} 

.history-item{
  /* position: fixed; */
  width: 150px;
  height: 130px;
  text-align: center;
  overflow: scroll;

}


/* -------------------------------------- */
/* Main Result */
.mainResult {
  margin-top: 20px;
  max-width: 1000px;
  margin: auto;
}

.mainResult > h1 {
  text-align: center;
  font-size: 20px;
 
}

/* All Search API Result */
.SearchResult{
  position: fixed;
  right: 4%;
  margin: 10px;
  width: 170vh;
  height: 60vh;
  box-shadow: 10px 10px 5px rgb(134, 126, 126) ;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  overflow: scroll;
  grid-column-gap: 15px;
  grid-row-gap: 10px;

}
.Empty{
  box-shadow:none;
  background-image: url('./components/loader.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

/* ResultBox */
.ResultBox{
  margin: 20px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  text-align: center ;
  border-radius: 10%;
  border: 5px solid rgba(199, 235, 238, 0.904);
  
}
.ResultBox:hover {
  border: 15px solid rgba(199, 235, 238, 0.904);
}

.ResultBox > label{
  position: relative;
  top: 40px;
}
.ResultBox > label > input{
  width: 85px;
}
.imgDiv > img{
  position: relative;
  top: 30px;
  width: 100px;
  height: 100px;
  margin: auto ;
  cursor:copy;
  box-shadow: 10px 10px 5px rgb(134, 126, 126) ;

}

.imgdlet{
  position: relative;
  top: 20px;
  left: 35%;
}

.imgdlet:hover{
  cursor: pointer;
}


/* -- header form -- */

.form > input{
  width: 450px;
  height: 40px;
  border: 0vw;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(134, 126, 126, 0.596) ;
  text-align: center;
}



.form > button{
  width: 60px;
  height: 40px;
  border-radius: 60px;
}

.form{
  position: fixed;
  top: 10%;
}





/*  --  USER  --   */


.user{
  width: 90px;
  height: 200px;
  position: fixed;
  left: .5%;
  top: 1%;
}

.userContainer-none{
  display: none;
}
.userContainer-display{ 
  cursor: pointer;
  display: inline-block;
} 

.user-account-none{
  display: none;
}
.user-account-display{ 
  cursor: pointer;
  display: inline-block;
} 

.UserAccount{
  font-size: 10px;
}

.UserAccount > h1{
  color: rgb(5, 120, 155);
}


.login-none{
  display: none;
}
.login-display{ 
  cursor: pointer;
  display: inline-block;
} 

.users-container-display{ 
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.users-container-none{ 
  display: none;
}

.users-container-display:hover {
  cursor: pointer;
}




.div-Edit-none{
  display: none;
 }



.div-Edit-display{ 
  cursor: pointer;
}