.HistoryList {
  list-style-type: none;
  /* list-style: none; */
  /* list-style-type: none; */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: #000;
  cursor: pointer;
}

 .div-historyList{
  cursor: pointer;
} 

/* .div-HistoryContainer .display{
  display: none;

} */

.HistoryContainer-none{
  display: none;
}
.HistoryContainer-display{ 
  cursor: pointer;
  display: inline-block;
} 